body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.intro {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  color: teal;
  text-shadow: aqua 1px 1px 5px;
}

.intro > h3 {
  color: orange;
  text-shadow: tomato 1px 1px 5px;
  font-family: 'ITC Benguiat Std';
}

.submit {
  text-align: center;
}

.btn {
  color: white;
  background-color: tomato;
  box-shadow: orange 1px 1px 3px;
  font-size: 10pt;
  margin: 5px;
}
.btn:hover {
  color: teal;
  font-weight: bold;
  background-color: #dcdcdc;
}

.form-submit .form-control {
  position: relative;
  max-width: 330px;
  margin: 0 auto;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-submit .form-control:focus {
  z-index: 2;
}
.form-submit input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-submit input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-logout {
  position: fixed;
  right: 50px;
  top: 50px;
}

hr.blur {
    border: 0;
    height: 0;
    box-shadow: 0 0 2px 1px aqua;
}

span.user {
  color: tomato;
  font-family: 'ITC Benguiat Std';
  font-weight: bold;
  font-size: 14pt;
}

.user-rating {
  color: tomato;
  text-shadow: orange 1px 1px 5px;
  font-size: 16pt;
  animation: blinker 3s linear infinite;
}

.ratings {
  color: #333333;
  text-shadow: #dcdcdc 1px 1px 2px;
  font-size: 10pt;
}
.movie-ratings {
  color: aqua;
  text-shadow: teal 1px 1px 2px;
  font-size: 10pt;
  float: right;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.fa-user, .fa-film, a {
  color: #333333;
}
.fa-film {
  font-weight: bold;
}
.fa-user:hover, a:hover {
  color: tomato;
  text-decoration: none;
  cursor: pointer;
}

ul {
  /*max-height: 1000px;*/
  list-style: none;
  padding-left: 7px;
  column-width: 300px;
  column-rule: 1px #dcdcdc dashed;
  border-left: 1px #dcdcdc dashed;
}

li {
  display:inline-block;
  width: 100%;
}

h4 {
  font-style: italic;
}
.subtitle {
  font-size: 10pt;
  font-style: normal;
}

img.rounded-avatar {
  border-radius: 10px;
  opacity: 0.5;
  border: white 2px;
}