{% extends 'base.html' %}
{% block content %}


<h2 class="movie-title"><a target="_blank" href="{{ movie.imdb_url }}">{{ movie.title }} </a>
<span class="subtitle">({{ movie.release_date.year }})</span></h2>

<hr class="blur">
<br>

{% if not data %}
<h4>MOVIE NOT FOUND IN OMDB DATABASE</h4>

{% else %}
<!-- ABOUT THIS MOVIE -->
<div class="row">

  {% if data.Poster and data.Poster != 'N/A' %}
  <!-- IMAGE FOR THIS MOVIE -->
  <div class="col-md-4 col-sm-12 col-xs-12">

    <img id="movie-poster" src='{{ data.Poster }}'/>

  </div>
  {% endif %}


  <!-- GENERAL DATA ABOUT THIS MOVIE -->
  <div class="col-md-8 col-sm-12 col-xs-12">

      <div id="movie-details">
          {% if data.Plot %}
          <h6 class="inline-text">SUMMARY | </h6>
          <span class="movie-plot"> {{ data.Plot }}</span>
          {% endif %}
          <br>
          <br>
          {% if data.Genre %}
          <h6 class="inline-text">GENRE – </h6>
          <span class="movie-details"> {{ data.Genre }}</span>
          {% endif %}
          <br>
          {% if data.Awards %}
          <h6 class="inline-text">AWARDS – </h6>
          <span class="movie-details"> {{ data.Awards }}</span>
          {% endif %}
          <br>
          {% if data.Actors %}
          <h6 class="inline-text">ACTORS – </h6>
          <span class="movie-details"> {{ data.Actors }}</span>
          {% endif %}
          <br>
          {% if data.Director %}
          <h6 class="inline-text">DIRECTED BY – </h6>
          <span class="movie-details"> {{ data.Director }}</span>
          {% endif %}
          <br>
          {% if data.Writer %}
          <h6 class="inline-text">WRITTEN BY – </h6>
          <span class="movie-details"> {{ data.Writer }}</span>
          {% endif %}
          <br>
          <br>
          {% if data.Language %}
          <h6 class="inline-text">LANGUAGE – </h6>
          <span class="movie-details"> {{ data.Language }}</span>
          {% endif %}
          <br>
          {% if data.Country %}
          <h6 class="inline-text">COUNTRY – </h6>
          <span class="movie-details"> {{ data.Country }}</span>
          {% endif %}
          <br>
          {% if data.Runtime %}
          <h6 class="inline-text">RUNTIME – </h6>
          <span class="movie-details"> {{ data.Runtime }}</span>
          {% endif %}

      <!-- {{ data.Poster }} -->
      <!-- {{ data.Title }} -->
      <!-- {{ data.Year }} -->
      <!-- {{ data.Released }} -->
      <!-- {{ data.Rated }} -->
      <!-- {{ data.imdbID }} -->
      <!-- {{ data.imdbVotes }} -->
      <!-- {{ data.Metascore }} -->
      <!-- {{ data.Type }} -->
      <!-- {{ data.Response }} -->
      </div>

  </div>

</div>
{% endif %}



<br>



<div class="row">
<hr class="line"><br>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

<!-- HOW YOU RATE THIS MOVIE -->
{% if "user_id" not in session %}
<h4>SIGN IN TO RATE THIS MOVIE</h4>

{% else %}
<!-- <hr class="blur"> -->
<h4>YOUR OPINION | <span class="subtitle"> How do you rate <span class="movie movie-title">{{ movie.title}}</span> ?</span></h4>
<hr class="blur">

    {% if user_rating %}
    <p>Your current rating of this movie: <span class="your-rating">
      {% for n in range(user_rating.score) %} &#x2605; {% endfor %}
    </span></p>
    <p>Would you like to change your rating?</p><!-- or clear -->

    {% else %}
    {% if prediction %}
    <p class="inline-text">We predict your rating will be
    <button type="submit" class="btn" name="submit" id="yes">show</button>
    <button type="submit" class="btn" name="submit" id="no">{{ '%.1f' | format(prediction) }}</button>
    based on your other movie ratings.</p>
    {% else %}
    <p class="inline-text">You must rate at least 2 movies in order for us to predict your opinion on this movie.</p>
    {% endif %}
    {% endif %}

<form class="form-rate" action="/movies/{{ movie.movie_id }}" method="POST">
    <label for="movieRating" class="sr-only">rating</label>
    <input type="number" min="1" max="5" name="score" id="movieRating" placeholder="(1-5 stars)" autofocus>
    <button type="submit" class="btn" name="submit" value="rate">RATE</button>
    <!-- <button type="submit" class="btn" name="submit" value="clear" id="clear">X</button> -->
</form>

{% endif %}

<br>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


<!-- HOW OTHER SITES ARE RATING THIS MOVIE -->
<!-- <hr class="blur"> -->
<h4>THE DATA | <span class="subtitle"> How does your rating of <span class="movie movie-title">{{ movie.title}}</span> compare?</span></h4>
<hr class="blur">

<div id="other-data">
{% if data %}
{% if data.imdbRating %}
<h6 class="inline-text">IMDB RATING (out of 10) </h6>
<span class="data"> {{ data.imdbRating }}</span>
<br>
{% endif %}
{% endif %}
<h6 class="inline-text">AVERAGE RATING (on this site) </h6>
<span class="data"> {{ movie.avg_rating }}</span>

<br>
<br>
<!-- <p>{{ eye_rating }}</p> -->
{% if user_rating and beratement %}
<h6 class="inline-text">{{ beratement }}</h6>
<span class="inline-text">The difference between your rating and the most "expert" user on this site is
<strong>{{ '%.1f' | format(difference) }}</strong>.</span>
{% endif %}

</div>

<br>
</div>
</div>



<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<!-- HOW OTHER USERS ARE RATING THIS MOVIE -->
{% if movie.ratings %}
<hr class="line"><br>
<h4>POPULAR OPINION | <span class="subtitle"> How other users of this app are rating <span class="movie movie-title">{{ movie.title}}</span> :</span></h4>
<hr class="blur">

<ul class="ratings">
  {% for rating in movie.ratings %}
  <li>
    <a href="/users/{{ rating.user_id }}"><i class="fa fa-user aqua-shadow"></i> {{ '%05d' | format(rating.user_id) }}
    <span class="ratings-movie">{% for n in range(rating.score) %} &#x2605; {% endfor %}</span>
  </a>
  </li>
  {% endfor %}
</ul>

{% else %}
<p> This movie has not yet received any ratings.</p>

{% endif %}

<hr class="blur">

</div>
</div>


<script type="text/javascript">

  const prediction = {{ prediction | safe }} or null;
  console.log(prediction);

  $("#no").hide();

  $(document).ready(function() {
    $("#yes").on('click',togglePrediction);
    $("#no").on('click',togglePrediction);
  });

  function togglePrediction(e) {
    $("#yes").toggle();
    $("#no").toggle();
  }

</script>

{% endblock %}
