{% extends 'base.html' %}
{% block content %}


<!-- <h2>Movies</h2> -->
<h4>MOVIES | <span class="subtitle"> There are {{ movies | length }} movies in this database:
<span class="movie-title"> Movie Title </span><span class="avg-rating"> AVG RATING </span>
(stats updated daily)</span></h4>


<hr class="blur">


<ul class="movies">
{% for movie in movies %}
{% if movie.title %}
<li id="{{ movie.movie_id }}"><i class="fa fa-film"></i><a class="movie-title" href="movies/{{ movie.movie_id }}"> {{ movie.title }} </a><span class="avg-rating"> {% if movie.avg_rating %} {{ movie.avg_rating }} {% else %} no ratings {% endif %} </span></li>
{% endif %}
{% endfor %}
</ul>


{% endblock %}
