{% extends 'base.html' %}
{% block content %}

<hr class="blur">
<br>


<p>RECORD ID: <span class="user">{{ user.user_id }}</span></p>
<p>USER EMAIL: <span class="user">{{ user.email }}</span></p>

<div id="user_profile">
<!--     <p>Age: {{ user.age }}</p> |
    <p>Zipcode: {{ user.zipcode }}</p> -->
</div>

<hr class="blur">
<br>

<div id="user_ratings">
    <h4>| Your Movie Ratings |</h4>
    {% if user.ratings %}
        <ul>
        {% for rating in user.ratings %}
            <li>
                <a href="/movies/{{ rating.movie_id }}">{{ rating.movie.title }}</a> rated {{ rating.score }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
