{% extends 'base.html' %}
{% block content %}

<!-- <h2>User</h2> -->

<p>RECORD ID: <span class="user">{{ user.user_id }}</span></p>
<p>USER EMAIL: <span class="user">{% if user.email %} {{ user.email }} {% else %}example@example.com{% endif %}</span></p>

<!-- <p>Age: {{ user.age }}</p> -->
<!-- | -->
<!-- <p>Zipcode: {{ user.zipcode }}</p> -->

<br>

<h4>USER MOVIE RATINGS | <span class="subtitle"> These are all the movies
{% if current_user == user.user_id %}
 you have
{% else %}
 this user has
{% endif %}
 rated.</span></h4>

<hr class="blur">

{% if user.ratings %}
    <ul>
    {% for rating in user.ratings %}
        <li>
        <a href="/movies/{{ rating.movie_id }}"><i class="fa fa-film"></i> {{ rating.movie.title }}
        <span class="ratings-user">{% for n in range(rating.score) %} &#x2605; {% endfor %}</span>
        </a>
        </li>
    {% endfor %}
    </ul>

{% else %}
<p>
{% if current_user == user.user_id %}
You have
{% else %}
This user has
{% endif %}
 not yet rated any movies.</p>

{% endif %}

{% endblock %}
